body{
    background-image: linear-gradient(to right top,rgb(84, 170, 237),rgb(224, 10, 224),rgb(55, 213, 213),plum);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.heading{
    font-size: 32px;
    width: 100%;
    margin-top: 0;
    padding: 15px;
    font-family: 'Nova Square', cursive;
    background-color: plum;
    color: black;
}

#bedroom_btn{
    font-size: 30px;
    border-radius: 25px;
    border: 4px solid rgb(224, 10, 224);
    background-color: rgb(84, 170, 237);
    width: 30%;
}

#fruit_btn{
    font-size: 30px;
    border-radius: 25px;
    border: 4px solid rgb(224, 10, 224);
    background-color: rgb(84, 170, 237);
    width: 30%;
}
